__pycache__/
**/__pycache__/
.DS_Store
sonos_settings.py
stream_urls.json
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/music-screen-api.iml
.idea/vcs.xml
.idea/*
/.venv/*